.contact {
  &__outlineBlueprint {
    grid-template-rows: minmax(min-content, 10rem) auto;
    color: black;
    backdrop-filter: blur(2px);
    display: grid;
    height: 100%;
    width: 100%;
    padding: 5%;
    margin-bottom: 5rem;
  }

  &__contentBlueprint {
    display: grid;
    position: relative;
    place-items: center center;
    list-style-type: none;
    width: 100%;
    height: 100%;

    svg {
      cursor: pointer;
    }
  }
}

.iconLink {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;

  @media only screen and (orientation: portrait) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
  }
}

.icon {
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  box-shadow: 1rem 1rem 5rem rgb(94, 94, 94);
  transition: 1s ease;
  fill: white;
  background-color: black;

  @media only screen and (max-width: 1200px) {
    width: 18rem;
    height: 18rem;
  }

  @media only screen and (max-width: 1000px) {
    width: 16rem;
    height: 16rem;
  }

  @media only screen and (max-width: 800px) {
    width: 13rem;
    height: 13rem;
  }

  @media only screen and (max-width: 600px) {
    width: 11rem;
    height: 11rem;
  }

  @media only screen and (max-width: 500px) {
    width: 9rem;
    height: 9rem;
  }

  &:hover {
    animation: swing 2s infinite;
  }
}
