*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}

body {
  line-height: 1.5;
  box-sizing: border-box;
  transition: opacity 1s;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
