.aboutAdjustments {
  grid-template-rows: auto auto;
  color: black;
  backdrop-filter: blur(2px);
}

.aboutScreen {
  display: grid;
  place-items: center center;
  width: 100%;
  grid-gap: 2rem;
}

.aboutBoard {
  display: grid;
  place-items: center center;

  grid-template-columns: 2fr 1fr;
  box-shadow: -5px -5px 10px #ffffffb2, 5px 5px 7px rgba(94, 104, 121, 0.945);
  background-color: rgba(111, 71, 203, 0.25);
  min-height: 65vh;

  @media only screen and (max-width: 1000px) {
    grid-template-columns: none;
    background-color: white;
    box-shadow: none;
  }
}

.aboutHead {
  position: relative;
  display: grid;
  place-items: center center;
  padding: 2.5vh 5vw 2.5vh 0;

  @media only screen and (max-width: 1000px) {
    padding: 5vh 0;
    overflow: hidden;
    width: 100%;
  }

  &::before {
    content: '';
    margin-right: 5vw;
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 0 30px rgba(117, 210, 251, 0.25);

    @media only screen and (max-width: 1000px) {
      margin: 0;
      width: 5px;
      height: 5px;
      box-shadow: 0 0 0 1px rgba(117, 210, 251, 0.25), 0 0 0 2px white,
        0 0 0 3px rgba(117, 210, 251, 0.25), 0 0 0 4px white,
        0 0 0 5px rgba(117, 210, 251, 0.25), 0 0 0 6px white,
        0 0 0 7px rgba(117, 210, 251, 0.25), 0 0 0 8px white,
        0 0 0 9px rgba(117, 210, 251, 0.25), 0 0 0 10px white,
        0 0 0 11px rgba(117, 210, 251, 0.25), 0 0 0 12px white,
        0 0 0 13px rgba(117, 210, 251, 0.25);
      transform: scale(45);
    }
  }

  .aboutPhoto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    filter: grayscale(100);
    pointer-events: none;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
    border: white 0.25rem solid;
    @media only screen and (max-width: 1000px) {
      width: 225px;
      height: 225px;
    }
  }
}

.aboutContent {
  position: relative;
  display: grid;
  width: 100%;
  place-self: center center;
  place-items: center center;
  grid-gap: 2rem;
  padding: 2.5vh 5vw;

  @media only screen and (max-width: 1000px) {
    background-color: rgba(111, 71, 203, 0.25);
    box-shadow: -5px -5px 10px #ffffffb2, 5px 5px 7px rgba(94, 104, 121, 0.945);
  }

  .aboutIntro {
    position: relative;
    text-align: center;
    padding: 1rem;
    width: 100%;
    background-color: rgba(117, 210, 251, 0.25);
    border-radius: 25px;
    box-shadow: -5px -5px 10px #ffffffb2, 5px 5px 7px rgba(94, 104, 121, 0.945);
  }
}
