.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.carousel-control-prev {
  left: -35%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: black;
}

.carousel-control-next {
  right: -35%;
  transform: translateY(-50%);
  top: 50%;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  background-color: black;
}

.carouselBox {
  width: 80vw;
  height: 60vh;
  box-shadow: -5px -5px 10px #ffffffb2, 5px 5px 7px rgba(94, 104, 121, 0.945);
  background-color: rgb(244, 178, 123);
  border-radius: 2.5rem;
  cursor: pointer;
  transition: all ease 0.8s;

  &:hover {
    box-shadow: 2rem 2rem black;
  }
}

.slide {
  width: 100%;
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-caption {
  display: grid;
  width: 100%;
  height: 100%;
  place-items: center center;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;

  h3 {
    width: 80%;
    animation: text-shadow-swap 1s infinite;
    text-shadow: -0px 4px 0px #00e6e6, -0px 8px 0px #01cccc,
      -0px 12px 0px #00bdbd;
  }

  p {
    width: 95%;
    color: black;
  }
}

.carousel-indicators {
  top: 105%;

  li {
    height: 2rem;
  }
}
