.homeScreen h1 {
  font-size: 5rem;

  @media only screen and (max-width: 1400px) {
    font-size: 4rem;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 3.5rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 350px) {
    font-size: 2.5rem;
  }
}

.homeScreen p {
  font-size: 10rem;

  @media only screen and (max-width: 1400px) {
    font-size: 8rem;
  }

  @media only screen and (max-width: 1200px) {
    font-size: 6.5rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 5rem;
  }

  @media only screen and (max-width: 350px) {
    font-size: 4rem;
  }
}

h2 {
  font-size: 8rem;

  @media only screen and (max-width: 965px) {
    font-size: 6rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 3rem;

  @media only screen and (max-width: 600px) {
    font-size: 2.5rem;
  }

  @media only screen and (max-width: 500px) {
    font-size: 2rem;
  }
}

p.aboutIntro {
  font-size: 3.4rem;

  @media only screen and (max-width: 1200px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 850px) {
    font-size: 2.6rem;
  }

  @media only screen and (max-width: 505px) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: 410px) {
    font-size: 2rem;
  }
}

p.aboutText {
  font-size: 3rem;

  @media only screen and (max-width: 1200px) {
    font-size: 2.6rem;
  }

  @media only screen and (max-width: 850px) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: 505px) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 410px) {
    font-size: 1.6rem;
  }
}

.contactScreen {
  font-size: 2rem;
}

.carousel-caption h3 {
  font-size: 11rem;

  @media only screen and (max-width: 1200px) {
    font-size: 9rem;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 7rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 5rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 3.5rem;
  }

  @media only screen and (max-width: 400px) {
    font-size: 2.5rem;
  }
}

.carousel-caption p {
  font-size: 3rem;

  @media only screen and (max-width: 1200px) {
    font-size: 2.6rem;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 400px) {
    font-size: 1.2rem;
  }
}

.bio h3,
.bioComp h3,
.bioTeach h3,
.bioEdu h3 {
  font-size: 3.6rem;

  @media only screen and (max-width: 1400px) {
    font-size: 3.2rem;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 2.8rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 2.6rem;
  }

  @media only screen and (max-width: 400px) {
    font-size: 2.2rem;
  }
}

.resumeDesc li {
  font-size: 2.8rem;

  @media only screen and (max-width: 1400px) {
    font-size: 2.4rem;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }

  @media only screen and (max-width: 440px) {
    font-size: 1.6rem;
  }
}

.resumeExp p {
  font-size: 2.8rem;

  @media only screen and (max-width: 1400px) {
    font-size: 2.4rem;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }

  @media only screen and (max-width: 440px) {
    font-size: 1.6rem;
  }
}

ul {
  font-size: 3.5rem;

  @media only screen and (max-width: 1420px) {
    font-size: 3rem;
  }

  @media only screen and (max-width: 1210px) {
    font-size: 2.5rem;
  }

  @media only screen and (max-width: 960px) {
    font-size: 2.1rem;
  }

  @media only screen and (max-width: 450px) {
    font-size: 1.8rem;
  }
}

.skillScreen h3 {
  font-size: 3.6rem;

  @media only screen and (max-width: 1400px) {
    font-size: 3.2rem;
  }

  @media only screen and (max-width: 1000px) {
    font-size: 2.8rem;
  }

  @media only screen and (max-width: 800px) {
    font-size: 2.6rem;
  }

  @media only screen and (max-width: 400px) {
    font-size: 2.2rem;
  }
}

.skillVisible p {
  font-size: 1.6rem;

  @media only screen and (max-width: 900px) {
    font-size: 1.4rem;
  }

  @media only screen and (max-width: 650px) {
    font-size: 1.2rem;
  }

  @media only screen and (max-width: 400px) {
    font-size: 1rem;
  }
}

.acknowledgement p {
  font-size: 3rem;

  @media only screen and (max-width: 1500px) {
    font-size: 2.6rem;
  }

  @media only screen and (max-width: 1340px) {
    font-size: 2.2rem;
  }

  @media only screen and (max-width: 1005px) {
    font-size: 1.8rem;
  }

  @media only screen and (max-width: 430px) {
    font-size: 1.4rem;
  }
}

p.footer {
  font-size: 1.2rem;

  @media only screen and (max-width: 1340px) {
    font-size: 1.1rem;
  }

  @media only screen and (max-width: 1170px) {
    font-size: 1rem;
  }

  @media only screen and (max-width: 1005px) {
    font-size: 0.9rem;
  }

  @media only screen and (max-width: 430px) {
    font-size: 0.8rem;
  }
}

.exitButton {
  font-size: 1.6rem;
}
