.footerBox {
  display: grid;
  height: min-content;
  margin: auto;
}

.footerAdjustments {
  grid-template-rows: repeat(2, 1fr);
  place-items: center center;
  text-align: center;
  border-top: solid 0.1rem black;
  padding: 1rem 0;
  color: black;
  backdrop-filter: blur(10px);
}

.footer {
  margin: 0;
}

.acknowledgement {
  display: grid;
  place-self: center center;
  place-items: center center;
  text-align: center;

  p {
    margin: 0;
  }
}
