body {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.subTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.textTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.gameTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
